<header class="mt-4">
  <div class="container text-center">

    <h1> Kelly <br>
      Ecologie<br>
      Créative </h1>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Disabled</a>
    </li>
  </ul>

</header>
<main>
  <section class="container-fluid">
    <div class="row">
      <div class="col-7">
        <div class="row py-5">
          <ng-container *ngFor=" let post of postMap | keyvalue">
            <app-post class="col-4 my-2" [title]="post.value.title"
                      [img]="post.value.img"
                      [content]="post.value.content"></app-post>
          </ng-container>
        </div>
      </div>

      <div class="col-5 py-5 text-center">
        Changements à venir
      </div>
    </div>
  </section>
</main>
